.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
}
.body {
    background-color: #2C3639; 

}
dotoListBox {
    height: 100%;
    width: 80%;
    margin: auto;
    box-shadow: 5px 10px black;
    background-color: #3F4E4F
}
